<!DOCTYPE html>

<html>

  <head>
    <title>Projeto Express e EJS</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  </head>

  <body>
    <div class="faixa">
      <h1>Concessionária Crivelli</h1>
    </div>
    <div class="card-container">
      <% for (let carro of carros){ %>
      <div id="<%= carro.id%>" class="card">
        <img class="imagem" src="<%= carro.imagem%>">
        <div class="descricao">
          <a href="/produtos/<%=carro.id%>"><%= carro.nome%></a>
          <p><%= carro.descricao%></p>
        </div>
      </div>
      <% } %>
    </div>

  </body>
</html>